* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', serif;
    font-size: 1.3rem;
}

body {
    display: flex;
}

img {
    height: 100vh;
}

.logo {
    position: absolute;
    width: 5vw;
    height: auto;
    left: 15px;
    top: 15px;
}

.right {
    display: flex;
    align-items: center;
}

.content-container {
    min-width: 900px;
    height: fit-content;
    margin-left: 50px;
}

fieldset {
    display: flex;
    border: none;

    margin-top: 50px;
    margin-bottom: 50px;
}

.flex-row {
    display: flex;
    gap: 10%;

    margin-bottom: 50px;
}

.flex-row div {
    float: left;
}

input, label {
    display: block;
}


input {
    border: none;
    border-bottom: 2px solid black;
    font-size: 1.1rem;
    padding: 10px 10px;
}

label {
    margin-bottom: 20px;
}

button {
    color: white;
    width: fit-content;
    padding: 20px 35px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.918);
    border: 1px solid black;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.1rem;
    color: rgb(133, 133, 133);
    font-weight: normal;
}

p, a {
    font-size: 1.1rem;
    color: rgb(133, 133, 133);
}

a {
    color: rgba(0, 0, 255, 0.596);
}

input:valid {
    border-color: green;
}

input:invalid:focus {
    border: none;
    border-bottom: 2px solid red;
}

input:focus {
    outline: none;
}

.logo-text {
    position: absolute;
    left: 15px;
    top: 10px;
    color: rgba(255, 255, 255, 0.822);
    font-size: 3rem;
    text-shadow: 4px 4px 4px #000000;
}






